.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(13, 29, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ball {
  background-color: black;
  aspect-ratio: 1 / 1;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
}

.awnser-container {
  background-color: rgba(3, 3, 141, 0.545);
  aspect-ratio: 1 / 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-bottom: 4rem;

  &__triangle {
    clip-path: polygon(51% 100%, 0 23%, 100% 24%);
    aspect-ratio: 1 / 1;
    width: 70%;
    background-color: rgb(47, 47, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__answer {
    width: 40%;
    color: white;
    word-break: break;
    text-align: center;
    text-transform: uppercase;
    hyphens: auto;
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-15px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
