* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 40px;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.teste {
  background-color: orange;
}
